@CHARSET "ISO-8859-1";

.price-range {
	width: 100px;
	display : inline;
}

.searchfield {
	padding-bottom: 5px;
}

#bodyContent {
	width: 1000px;
	margin: auto;
}

dd {
	margin-bottom: 10px;
}

#cancelPaymentBtn {
	margin-left: 5px;
}

#cancelAppBtn {
	margin-left: 5px;
}

#aptSearchResultsContainer td {
	width: 10%;
}

#aptSearchResultsContainer th {
	width: 10%;
}

.carttotal {
	margin-right: 10px;
	padding-top: 8px;
}

.appAddress {
	width: 200px;
}

.appLandlord {
	width: 150px;
}

.appType {
	width: 100px;
}

.appArea {
	width: 100px;
}

.appRating {
	width: 100px;
}

.appPrice {
	width: 100px;
}

.appDate {
	width: 120px;
}
